In [290]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import sklearn

In [291]:
df=pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Stock-Sentiment-Analysis/master/Data.csv',encoding = 'unicode_escape')
df

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title
1,2000-01-04,0,Scorecard,The best lake scene,Leader: German sleaze inquiry,"Cheerio, boyo",The main recommendations,Has Cubie killed fees?,Has Cubie killed fees?,Has Cubie killed fees?,...,On the critical list,The timing of their lives,Dear doctor,Irish court halts IRA man's extradition to Nor...,Burundi peace initiative fades after rebels re...,PE points the way forward to the ECB,Campaigners keep up pressure on Nazi war crime...,Jane Ratcliffe,Yet more things you wouldn't know without the ...,Millennium bug fails to bite
2,2000-01-05,0,Coventry caught on counter by Flo,United's rivals on the road to Rio,Thatcher issues defence before trial by video,Police help Smith lay down the law at Everton,Tale of Trautmann bears two more retellings,England on the rack,Pakistan retaliate with call for video of Walsh,Cullinan continues his Cape monopoly,...,South Melbourne (Australia),Necaxa (Mexico),Real Madrid (Spain),Raja Casablanca (Morocco),Corinthians (Brazil),Tony's pet project,Al Nassr (Saudi Arabia),Ideal Holmes show,Pinochet leaves hospital after tests,Useful links
3,2000-01-06,1,Pilgrim knows how to progress,Thatcher facing ban,McIlroy calls for Irish fighting spirit,Leicester bin stadium blueprint,United braced for Mexican wave,"Auntie back in fashion, even if the dress look...",Shoaib appeal goes to the top,Hussain hurt by 'shambles' but lays blame on e...,...,Putin admits Yeltsin quit to give him a head s...,BBC worst hit as digital TV begins to bite,How much can you pay for...,Christmas glitches,"Upending a table, Chopping a line and Scoring ...","Scientific evidence 'unreliable', defence claims",Fusco wins judicial review in extradition case,Rebels thwart Russian advance,Blair orders shake-up of failing NHS,Lessons of law's hard heart
4,2000-01-07,1,Hitches and Horlocks,Beckham off but United survive,Breast cancer screening,Alan Parker,Guardian readers: are you all whingers?,Hollywood Beyond,Ashes and diamonds,Whingers - a formidable minority,...,Most everywhere: UDIs,Most wanted: Chloe lunettes,Return of the cane 'completely off the agenda',From Sleepy Hollow to Greeneland,Blunkett outlines vision for over 11s,"Embattled Dobson attacks 'play now, pay later'...",Doom and the Dome,What is the north-south divide?,Aitken released from jail,Gone aloft
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4257,2016-06-27,0,Barclays and RBS shares suspended from trading...,Pope says Church should ask forgiveness from g...,Poland 'shocked' by xenophobic abuse of Poles ...,"There will be no second referendum, cabinet ag...","Scotland welcome to join EU, Merkel ally says",Sterling dips below Friday's 31-year low amid ...,No negative news about South African President...,Surge in Hate Crimes in the U.K. Following U.K...,...,German lawyers to probe Erdogan over alleged w...,"Boris Johnson says the UK will continue to ""in...",Richard Branson is calling on the UK governmen...,Turkey 'sorry for downing Russian jet',Edward Snowden lawyer vows new push for pardon...,Brexit opinion poll reveals majority don't wan...,"Conservative MP Leave Campaigner: ""The leave c...","Economists predict UK recession, further weake...","New EU 'superstate plan by France, Germany: Cr...",Pakistani clerics declare transgender marriage...
4258,2016-06-28,1,"2,500 Scientists To Australia: If You Want To ...","The personal details of 112,000 French police ...",S&amp;P cuts United Kingdom sovereign credit r...,Huge helium deposit found in Africa,CEO of the South African state broadcaster qui...,"Brexit cost investors $2 trillion, the worst o...",Hong Kong democracy activists call for return ...,Brexit: Iceland president says UK can join 'tr...,...,"US, Canada and Mexico pledge 50% of power from...",There is increasing evidence that Australia is...,"Richard Branson, the founder of Virgin Group, ...","37,000-yr-old skull from Borneo reveals surpri...",Palestinians stone Western Wall worshipers; po...,Jean-Claude Juncker asks Farage: Why are you h...,"""Romanians for Remainians"" offering a new home...",Brexit: Gibraltar in talks with Scotland to st...,8 Suicide Bombers Strike Lebanon,Mexico's security forces routinely use 'sexual...
4259,2016-06-29,1,Explosion At Airport In Istanbul,Yemeni former president: Terrorism is the offs...,UK must accept freedom of movement to access E...,Devastated: scientists too late to captive bre...,British Labor Party leader Jeremy Corbyn loses...,A Muslim Shop in the UK Was Just Firebombed Wh...,Mexican Authorities Sexually Torture Women in ...,UK shares and pound continue to recover,...,"Escape Tunnel, Dug by Hand, Is Found at Holoca...",The land under Beijing is sinking by as much a...,Car bomb and Anti-Islamic attack on Mosque in ...,Emaciated lions in Taiz Zoo are trapped in blo...,Rupert Murdoch describes Brexit as 'wonderful'...,More than 40 killed in Yemen suicide attacks,Google Found Disastrous Symantec and Norton Vu...,Extremist violence on the rise in Germany: Dom...,BBC News: Labour MPs pass Corbyn no-confidence...,Tiny New Zealand town with 'too many jobs' lau...
4260,2016-06-30,1,Jamaica proposes marijuana dispensers for tour...,Stephen Hawking says pollution and 'stupidity'...,Boris Johnson says he will not run for Tory pa...,Six gay men in Ivory Coast were abused and for...,Switzerland denies citizenship to Muslim immig...,Palestinian terrorist stabs israeli teen girl ...,Puerto Rico will default on $1 billion of debt...,Republic of Ireland fans to be awarded medal f...,...,Googles free wifi at Indian railway stations i...,Mounting evidence suggests 'hobbits' were wipe...,The men who carried out Tuesday's terror attac...,Calls to suspend Saudi Arabia from UN Human Ri...,More Than 100 Nobel Laureates Call Out Greenpe...,British pedophile sentenced to 85 years in US ...,"US permitted 1,200 offshore fracks in Gulf of ...",We will be swimming in ridicule - French beach...,UEFA says no minutes of silence for Istanbul v...,Law Enforcement Sources: Gun Used in Paris Ter...
4261,2016-07-01,1,A 117-year-old woman in Mexico City finally re...,IMF chief backs Athens as permanent Olympic host,"The president of France says if Brexit won, so...",British Man Who Must Give Police 24 Hours' Not...,100+ Nobel laureates urge Greenpeace to stop o...,Brazil: Huge spike in number of police killing...,Austria's highest court annuls presidential el...,"Facebook wins privacy case, can track any Belg...",...,"The United States has placed Myanmar, Uzbekist...",S&amp;P revises European Union credit rating t...,India gets $1 billion loan from World Bank for...,U.S. sailors detained by Iran spoke too much u...,Mass fish kill in Vietnam solved as Taiwan ste...,Philippines president Rodrigo Duterte urges pe...,Spain arrests three Pakistanis accused of prom...,"Venezuela, where anger over food shortages is ...",A Hindu temple worker has been killed by three...,Ozone layer hole seems to be healing - US &amp...

In [326]:
#Remember 0 in "label" means stokes prices  will fall and 1 means stokes will goes up

In [292]:
df.describe()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
count,4262,4214,4210,4202,4192,4169,4158,4151,4144,4135,...,4071,4064,4054,4049,4040,4030,4016,4010,4006,4004
unique,4219,115,4183,4183,4172,4155,4127,4125,4121,4114,...,4053,4040,4035,4026,4017,4006,3993,3982,3986,3972
top,',1,UK news in brief,Business news in brief,Corrections and clarifications,Corrections and clarifications,Corrections and clarifications,Corrections and clarifications,Corrections and clarifications,Letters,...,Women's football,Round-up,Round-up,Corrections and clarifications,Corrections and clarifications,Corrections and clarifications,Corrections and clarifications,Radio pick of the day,Corrections and clarifications,Corrections and clarifications
freq,43,2166,6,4,5,3,4,4,6,3,...,3,4,7,7,6,6,8,5,9,6

# Handling missing values

In [293]:
df=df.dropna(axis=0, how='any')
df.describe()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
count,4004,4004,4004,4004,4004,4004,4004,4004,4004,4004,...,4004,4004,4004,4004,4004,4004,4004,4004,4004,4004
unique,4004,2,3977,3985,3984,3990,3973,3978,3981,3983,...,3986,3980,3985,3981,3981,3980,3981,3976,3984,3972
top,2014-09-16,1,Morning session,Round-up,Corrections and clarifications,Corrections and clarifications,Corrections and clarifications,Weekly Roundup,Corrections and clarifications,Radio pick of the day,...,Women's football,Round-up,Round-up,Corrections and clarifications,Corrections and clarifications,Corrections and clarifications,Corrections and clarifications,Radio pick of the day,Corrections and clarifications,Corrections and clarifications
freq,1,2113,6,4,5,3,4,4,6,3,...,3,4,7,7,6,6,8,5,9,6

# Convertinf datatype of "Label" feature

In [294]:
df['Label']=df['Label'].astype(int)
df.Label.dtypes

<ipython-input-294-5421193a7e4b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Label']=df['Label'].astype(int)

dtype('int32')

# Renaming column names

In [295]:
newcolumns=['Date','Label']
for i in range(0,25):
    newcolumns.append(str(i))
newcolumns

['Date',
 'Label',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24']

In [296]:
df.columns=newcolumns

In [297]:
df.head(1)

,Date,Label,0,1,2,3,4,5,6,7,...,15,16,17,18,19,20,21,22,23,24
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title

# Converting each News Headine into lower case

In [298]:
df1=df.copy()
for column in newcolumns[2:]:
    df1[column]=df1[column].str.lower()
df1.head(3)

,Date,Label,0,1,2,3,4,5,6,7,...,15,16,17,18,19,20,21,22,23,24
0,2000-01-03,0,a 'hindrance to operations': extracts from the...,scorecard,hughes' instant hit buoys blues,jack gets his skates on at ice-cold alex,chaos as maracana builds up for united,depleted leicester prevail as elliott spoils e...,hungry spurs sense rich pickings,gunners so wide of an easy target,...,flintoff injury piles on woe for england,hunters threaten jospin with new battle of the...,kohl's successor drawn into scandal,the difference between men and women,"sara denver, nurse turned solicitor",diana's landmine crusade put tories in a panic,yeltsin's resignation caught opposition flat-f...,russian roulette,sold out,recovering a title
1,2000-01-04,0,scorecard,the best lake scene,leader: german sleaze inquiry,"cheerio, boyo",the main recommendations,has cubie killed fees?,has cubie killed fees?,has cubie killed fees?,...,on the critical list,the timing of their lives,dear doctor,irish court halts ira man's extradition to nor...,burundi peace initiative fades after rebels re...,pe points the way forward to the ecb,campaigners keep up pressure on nazi war crime...,jane ratcliffe,yet more things you wouldn't know without the ...,millennium bug fails to bite
2,2000-01-05,0,coventry caught on counter by flo,united's rivals on the road to rio,thatcher issues defence before trial by video,police help smith lay down the law at everton,tale of trautmann bears two more retellings,england on the rack,pakistan retaliate with call for video of walsh,cullinan continues his cape monopoly,...,south melbourne (australia),necaxa (mexico),real madrid (spain),raja casablanca (morocco),corinthians (brazil),tony's pet project,al nassr (saudi arabia),ideal holmes show,pinochet leaves hospital after tests,useful links

# Spliting data into train and test

In [299]:
train = df[df['Date'] < '20150101']
test = df[df['Date'] > '20141231']

# Removing all sepecial characters from datasets

In [300]:
train.replace("[^a-zA-Z]"," ",regex=True, inplace=True)
test.replace("[^a-zA-Z]"," ",regex=True, inplace=True)
train.head(2)

C:\Users\Zain\anaconda3\lib\site-packages\pandas\core\frame.py:4524: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Date,Label,0,1,2,3,4,5,6,7,...,15,16,17,18,19,20,21,22,23,24
0,,0,A hindrance to operations extracts from the...,Scorecard,Hughes instant hit buoys Blues,Jack gets his skates on at ice cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl s successor drawn into scandal,The difference between men and women,Sara Denver nurse turned solicitor,Diana s landmine crusade put Tories in a panic,Yeltsin s resignation caught opposition flat f...,Russian roulette,Sold out,Recovering a title
1,,0,Scorecard,The best lake scene,Leader German sleaze inquiry,Cheerio boyo,The main recommendations,Has Cubie killed fees,Has Cubie killed fees,Has Cubie killed fees,...,On the critical list,The timing of their lives,Dear doctor,Irish court halts IRA man s extradition to Nor...,Burundi peace initiative fades after rebels re...,PE points the way forward to the ECB,Campaigners keep up pressure on Nazi war crime...,Jane Ratcliffe,Yet more things you wouldn t know without the ...,Millennium bug fails to bite

In [301]:
X_train=train.drop(['Date','Label'],axis='columns')
X_test=test.drop(['Date','Label'],axis='columns')

In [302]:
X_test.head(1)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
3884,Most cases of cancer are the result of sheer b...,Iran dismissed United States efforts to fight ...,Poll One in Germans would join anti Muslim ...,UK royal family s Prince Andrew named in US la...,Some asylum seekers refused to leave the bu...,Pakistani boat blows self up after India navy ...,Sweden hit by third mosque arson attack in a week,cars set alight during French New Year,Salaries for top CEOs rose twice as fast as av...,Norway violated equal pay law judge says Jud...,...,Ukrainian minister threatens TV channel with c...,Palestinian President Mahmoud Abbas has entere...,Israeli security center publishes names of ...,The year was the deadliest year yet in Sy...,A Secret underground complex built by the Nazi...,Restrictions on Web Freedom a Major Global Iss...,Austrian journalist Erich Mchel delivered a pr...,Thousands of Ukraine nationalists march in Kiev,Chinas New Years Resolution No More Harvestin...,Authorities Pull Plug on Russia s Last Politic...

In [303]:
y_train=train['Label']
y_test=test['Label']

# Joining all the news headings of one row in single cell so that we can apply CountVectorizer classifier()

In [304]:
train_headlines=[]
for i in range(len(X_train)):
    train_headlines.append(" ".join(str(x) for x in X_train.iloc[i,0:]))
train_headlines[1]

'Scorecard The best lake scene Leader  German sleaze inquiry Cheerio  boyo The main recommendations Has Cubie killed fees  Has Cubie killed fees  Has Cubie killed fees  Hopkins  furious  at Foster s lack of Hannibal appetite Has Cubie killed fees  A tale of two tails I say what I like and I like what I say Elbows  Eyes and Nipples Task force to assess risk of asteroid collision How I found myself at last On the critical list The timing of their lives Dear doctor Irish court halts IRA man s extradition to Northern Ireland Burundi peace initiative fades after rebels reject Mandela as mediator PE points the way forward to the ECB Campaigners keep up pressure on Nazi war crimes suspect Jane Ratcliffe Yet more things you wouldn t know without the movies Millennium bug fails to bite'

In [305]:
test_headlines=[]
for i in range(len(X_test)):
    test_headlines.append(" ".join(str(x) for x in X_test.iloc[i,0:]))
test_headlines[1]

'Moscow  gt Beijing high speed train will reduce trip time to    hours  from the current   days Two ancient tombs were discovered in Egypt on Sunday  with one representing a symbolic burial site of the god Osiris while another is claimed to be a previously unknown pharaonic tomb  China complains to Pyongyang after N Korean soldier kills villagers   World news Scotland Headed Towards Being Fossil Fuel Free by        Renewable energy projects combined with energy savings could decarbonise the countrys power sector   We need to see the phasing out of conventional generation in Scotland   Prime Minister Shinzo Abe said Monday he will express remorse for Japans actions in World War II while highlighting the countrys bid to contribute more actively to world peace in his statement marking the   th anniversary of the wars end in August  Sex slave at centre of Prince Andrew scandal fled to Australia as a teen Gay relative of Hamas founder faces deportation from Canada  Christian convert      whose five uncles were jailed in Israel for terror activity  says hell be killed if forced to return to West Bank The number of female drug addicts in Iran has almost doubled since       with more than     starting between the ages of    and    After Decades of Searching  the Causeway for the Great Pyramid of Egypt has been Found India lost    tigers in      Lizard Squad hacking of Sony was  huge marketing  scheme to launch  Lizard Stresser   a paid hacking service  Russia  may face chaos  if extra sanctions imposed  Germany The Saudi air and land forces carry out an attack on ISIS within its territory ISIL is reportedly setting up a bank in attempt to  legitimatise  itself as a nation state Israel to brand anti assimilation group Lehava as terrorists The Islamic State has approved a      budget of    billion  with an expected surplus of      million and has opened an Islamic Bank in Mosul  The budget reportedly includes monthly wages for the poor  disabled and families of individuals killed in airstrikes carried out by US led coalition forces Iceland To Withdraw EU Application  Lift Capital Controls Blackfield Capital Founder Goes Missing  The value of the ruble isn t the only thing that is vanishing in Russia  A Moscow hedge fund chief executive has disappeared  along with all the money in the firm s accounts Rocket stage crashes back to Earth in rural Chinese village    Dead as Aircraft Bombs Greek Tanker in Libyan Port Belgian murderer Frank Van Den Bleeken to die at own request  A Belgian murderer and rapist serving a life sentence is to be allowed to die by lethal injection next Sunday following a ruling under laws in Belgium permitting people to request euthanasia  Czech President criticizes Ukrainian PM  says Yatsenyuk is  prime minister of war    Vietnamese jets join search for    missing Filipinos in Bahamian cargo ship sinking France seeks end to Russia sanctions over Ukraine China scraps rare earths caps'

In [306]:
len(train_headlines)

3878

In [307]:
len(test_headlines)

378

# Applying CountVectorizer

In [308]:
from sklearn.feature_extraction.text import CountVectorizer

In [315]:
cv=CountVectorizer(ngram_range=(1,1)) #ngram_range=(2,2)
counvec_train_headlines=cv.fit_transform(train_headlines)
counvec_train_headlines

<3878x45068 sparse matrix of type '<class 'numpy.int64'>'
	with 788336 stored elements in Compressed Sparse Row format>

In [316]:
counvec_test_headings=cv.transform(test_headlines)
counvec_test_headings

<378x45068 sparse matrix of type '<class 'numpy.int64'>'
	with 115884 stored elements in Compressed Sparse Row format>

# Using SVM

In [277]:
from sklearn.svm import SVC

In [323]:
svc=SVC()
svc.fit(counvec_train_headlines,y_train)

SVC()

In [324]:
svc.score(counvec_test_headings,y_test)

0.7936507936507936

# Using Random Forest Clssifier

In [318]:
from sklearn.ensemble import RandomForestClassifier

In [311]:
rfc=RandomForestClassifier(n_estimators=200,criterion='entropy')

In [312]:
rfc.fit(counvec_train_headlines,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=200)

In [317]:
rfc.score(counvec_test_headings,y_test)

0.8571428571428571

In [320]:
y_predict=rfc.predict(counvec_test_headings)
y_predict

array([1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1])

In [322]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.91      0.78      0.84       186
           1       0.82      0.93      0.87       192

    accuracy                           0.86       378
   macro avg       0.86      0.86      0.86       378
weighted avg       0.86      0.86      0.86       378